Source: fll-live-initramfs
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Kel Modderman <kelvmod@gmail.com>,
 Niall Walsh <niallwalsh@celtux.org>
Section: misc
Priority: optional
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Vcs-Browser: https://github.com/fullstory/fll-live-initramfs
Vcs-Git: https://github.com/fullstory/fll-live-initramfs.git

Package: fll-live-initramfs
Architecture: all
Depends: ${misc:Depends},
 distro-defaults,
 dracut | initramfs-tools
Suggests: busybox,
 eject,
 lvm2,
 nbd-client
Description: fll live media initramfs glue
 This package provides the script glue that allows initramfs-tools or
 dracut to generate an early userspace filesystem suitable for booting
 the live media of the F.U.L.L.S.T.O.R.Y project.
 .
 This is a FULLSTORY live-only package and must not be installed to an
 ordinary system.
