#!/usr/bin/make -f
  
include /usr/share/cdbs/1/rules/debhelper.mk

INITRAMFS := debian/fll-live-initramfs/usr/share/initramfs-tools

install/fll-live-initramfs::
	# hooks & scripts
	for sh in hooks/* scripts/*; do \
		install -m 0755 -D $$sh $(INITRAMFS)/$$sh; \
	done
